<!DOCTYPE html>
<html>
<head>
  <title>Membership section</title>
  <%= stylesheet_link_tag    "members/application" %>
  <%= javascript_include_tag "members/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
